p  
table(style='border-collapse: collapse; border: 1px solid #fff; max-width: 400px;', border='0', width='80%', cellspacing='0', cellpadding='0', align='center')
  tbody
    tr
      td(style='padding: 40px 0 40px 0;', align='center', valign='top')
        img(src='https://za9.com.br/assets/img/logo_za9.png', alt='Recadin')
    tr
      td(style='padding: 10px 0 20px 0;', align='center')
        p.p1
          span(style='color: #1e3140; font-size: 18pt; font-family: helvetica, arial, sans-serif;')
            span(style='color: #4a5661;')
              strong Olá
            span.s1
              span(style='color: #ff1654;')
                span(style='color: #d30471;')
                  strong  #{name}
              | ,
            span(style='color: #4a5661;')
              strong  seja bem vindo a Za9.
        p.p1   
        p.p1
          span.s1(style='font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #748290;')
            | Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor .
        p.p1  
