table(style='border-collapse: collapse; border: 1px solid #fff; max-width: 400px;', border='0', width='80%', cellspacing='0', cellpadding='0', align='center')
  tbody
    tr
      td(style='padding: 40px 0 40px 0;', align='center', valign='top')  
    tr
      td(style='padding: 10px 0 20px 0;', align='center')
        img(src='http://za9.com.br/email/imobiliare/img/cadeado.jpg', alt='Imobiliare Digital - Cadeado', width='100', height='101')
    tr
      td(style='padding: 10px 0 20px 0;', align='center')
        h1
          span(style='color: #cd0366; font-family: helvetica, arial, sans-serif; font-size: 18pt;') Esqueceu sua senha?
          br
          span(style='color: #889398; font-family: helvetica, arial, sans-serif; font-size: 18pt;')  Não se preocupe, aqui está uma novinha para você.
    tr
      td(style='padding: 20px 0 20px 0;', align='center', bgcolor='#F7F7F8')
        h2
          span(style='font-family: helvetica, arial, sans-serif; color: #001e40; font-size: 18pt;') #{new_password}
    tr
      td(style='padding: 10px 0 40px 0;', align='center')
        p
          span(style='font-size: 10pt; color: #889398; font-family: helvetica, arial, sans-serif;')
            | Agora basta acessar o app com sua nova senha, clicar em 
            strong configurações
            |  e por medida de segurança cadastrar uma 
            strong nova senha
            | .
